footer {
	clear: both;
}

.bottom-footer .container {
	background: $darkBlue;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: center;
	margin: auto;

	p {
		margin: 2%;
	}
}

.soc-med {
	background: $darkBlue;
}

.soc-med .wrapper {
	display: flex;
	justify-content: center;
	margin: auto;

	i {
		color: #fff;
		font-size: 20px;
		padding: 10px;
		transition: color 0.3s linear;
		&:hover {
			color: $teal;
		}
	}
}