header {
	background: $darkBlue;
	padding: 5px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		h1 {
			font-size: 50px;
			font-family: $displayFont;
			font-weight: bolder;
			font-style: italic;
			letter-spacing: 2px;
			a {
				color: white;
				transition: color 0.3s linear;
				&:hover {
					color: $teal;
				}
			}
		}
	}
}


h2 {
	font-family: $baseFont;
	a {
		color: $teal;
	}
}