header {
	background: rgba(11,59,80,0.5);
	padding: 5px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		h1 {
			font-size: 50px;
			font-family: $displayFont;
			a {
				color: $darkBlue;
				transition: color 0.3s linear;
				&:hover {
					color: white;
				}
			}
		}
	}
}


h2 {
	font-family: $baseFont;
	a {
		color: $teal;
	}
}