header {
	background: #fff;
	padding: 10px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		.fa-rocket {
			padding-left: 20px;
			font-size: 40px;
			a {
				color: $darkBlue;
				transition: color 0.3s linear;
				&:hover {
					color: $teal;
				}
			}
		}
	}
}