//Blog Roll Styles

.blog-hero {
	height: 50vh;
	background-image: url(images/north-america.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment:fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h3 {
		color: white;
		font-style: italic;
		font-weight: bolder;
		letter-spacing: 2px;
		font-size: 90px;
		border-bottom: 4px solid white;
		padding: 1% 3%;
	}
}

.index-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px auto;

	.entry-title {
		font-size: 40px;
		padding-bottom: 5px;
		font-family: $displayFont;
		border-bottom: 3px solid $teal;
	}

	p {
		font-size: 15px;
	}

	img {
		z-index: -100;
		position: relative;
		left: 5%;
		border-bottom: 7px solid $teal;
		padding-bottom: 2%;
		max-height: 400px;
		width: 40%;
		// box-shadow: 1px 1px 5px dimGray;
	}
}

article {
	background: rgba(220,220,220,0.8);
	width: 60%;
	padding: 1% 5%;
	border: 7px solid $teal;
	box-shadow: 1px 1px 5px dimGray;
	margin-bottom: 20%;
}