ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			padding: 10px;
			font-family: $baseFont;
			font-weight: bolder;
			text-transform: uppercase;
			color: #fff;
			transition: all 0.2s linear;
			&:hover {
				color: $teal;
				border-bottom: 3px solid #fff;
			}
		}
	}
}